{% extends "include/homepage.html" %}
{% load static %}
{% block content %}
 
    <!--=====JQUERY=======-->
    <script src="{% static 'assets/js/jquery-3-6-0.min.js' %}"></script>
  </head>

  <body class="body4">
  <!--=====PROFRESS START=======-->


        <div class="overlay flex cac vac preloader-parent">
          <div>
              <div class="loader preloader flex vac">
                  <svg width="200" height="200" >
                      <circle class="background" cx="90" cy="90" r="80" transform="rotate(-90, 100, 90)"/>
                      <circle class="outer" cx="90" cy="90" r="80" transform="rotate(-90, 100, 90)"/>
                  </svg>
                  <span class="circle-background">
                    
                  </span>
                  <span class="logo animated fade-in">                
                       <img src="{{ settings.logo.url }}" alt="" style="height: 60px;width: 60px;object-fit: cover; border-radius: 50%;">            
                  </span>
              </div>
          </div>
      </div>



<!--=====PROGRESS END=======-->

<div class="paginacontainer"> 

  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
  </div>

</div> 


    <!--=====HEADER START=======-->
    {% include  "include/header.html" %}
    <!--=====HEADER END=======-->


           <!--=====Mobile header start=======-->

          <!--=====Mobile header end=======-->

          <!--===== HERO AREA START=======-->

          <div class="hero-area4 _relative">
            <div class="container">
              <div class="space40"></div>
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="headding _relative">
                    <span class="span">{{ settings.title }}</span>
                    <h1>{{ settings.descriptions|safe }}</h1>
                    
                    <div class="space30"></div>

                    <div>
                      <a href="{% url 'contact' %}" class="theme-btn7"><span class="span-btn">Записаться на бесплатную консультацию</span> <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span></a>
                    </div>
                    <div class="shape aniamtion-key-2">
                      <img src="{% static 'assets/img/shapes/hero4-shape2.png' %}" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">

                  <div class="hero4-images">
                    <div class="row">
                      <div class="col-md-6 aniamtion-key-5">
                        <div class="hero-image-slider">
                          {% for slide in slide %}
                          <div class="image">
                            <img src="{{ slide.image.url }}" alt="">
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-md-6 aniamtion-key-2">
                        <div class="space40"></div>
                        <div class="hero-image-slider2">
                          {% for slide in slide %}
                          <div class="image">
                            <img src="{{ slide.image1.url }}"alt="">
                          </div>
                          {% endfor %}
                        </div>
                        <div class="shape aniamtion-key-4">
                          <img src="{% static 'assets/img/shapes/hero4-shape1.png' %}" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--=====HERO AREA END=======-->


          <!--=====ABOUT START=======-->

          <div class="about4 sp3">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="images">
                    <div class="shape aniamtion-key-1">
                      <img src="{% static 'assets/img/shapes/about4-shape.png' %}" alt="">
                    </div>
                    <div class="image img100" data-aos="flip-right" data-aos-duration="700">
                      <img src="{{ about.image.url}}" alt="">
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="headding4">
                    <span class="span" data-aos="fade-left" data-aos-duration="700">О нас</span>
                    <h2 data-aos="fade-left" data-aos-duration="900" >{{ about.descriptions }}</h2>
                    <div class="space16"></div>
                    <p data-aos="fade-left" data-aos-duration="1100" >{{ about.descriptions2|safe }}</p>

                    <div class="row">
                      
                      <div class="col-md-4 col-6">
                        <div class="counter-box" data-aos="zoom-in-up" data-aos-duration="900">
                          <h3><span class="counter">{{ numbers.client }}</span>k+</h3>
                          <p>Довольные клиенты</p>
                        </div>
                      </div>

                      <div class="col-md-4 col-6">
                        <div class="counter-box" data-aos="zoom-in-up" data-aos-duration="700">
                          <h3><span class="counter">{{ numbers.experience }}</span>+</h3>
                          <p>Многолетний опыт</p>
                        </div>
                      </div>

                      <div class="col-md-4 col-6">
                        <div class="counter-box" data-aos="zoom-in-up" data-aos-duration="800">
                          <h3><span class="counter">{{ numbers.review }}</span>k+</h3>
                          <p>Положительных отзывов </p>
                        </div>
                      </div>


                    </div>

                    <div class="space30"></div>

                    <div class="" data-aos="fade-up" data-aos-duration="800">
                      <a href="{% url 'contact' %}" class="theme-btn7"><span class="span-btn">Заплонируйте бесплатную консультацию</span> <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--=====ABOUT END=======-->

          <!--=====SERVICE START=======-->
          <div class="service4 sp3">
            <div class="container">
              <div class="rwo">
                <div class="col-lg-6 m-auto text-center">
                  <div class="headding4">
                    <span class="span" data-aos="zoom-in-up" data-aos-duration="800">Наши области практики</span>
                    <h2 data-aos="zoom-in-up" data-aos-duration="1000">Комплексные Юридические Услуги</h2>
                  </div>
                </div>
              </div>

              <div class="space30"></div>
              <div class="row">
              {% for service in service %}
                <div class="col-lg-4 col-md-6">
                  <div class="" data-aos="zoom-in-up" data-aos-duration="900">
                    <div class="service4-box">
                      <div class="icon">
                        <img src="{% static 'assets/img/icons/service4-icon1.png' %}" alt="">
                      </div>
                      <div class="headding">
                        <h4><a>{{ service.name }}</a></h4>
                        <p>{{ service.descriptions|safe }}</p>
  
                        <a><span><i></i></span></a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>

              <div class="space50"></div>

              <div class="row">
                <div class="col-lg-12 text-center">
                  <div class="" data-aos="zoom-in-up" data-aos-duration="800">
                    <a href="{% url 'service' %}" class="theme-btn7"><span class="span-btn">Посмотререть больше облостей практики</span> <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span></a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!--=====SERVICE END=======-->


          <!--=====CASE START=======-->

          <div class="case4 sp3">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 m-auto text-center">
                  <div class="headding4">
                    <span class="span" data-aos="zoom-in-up" data-aos-duration="700">Тематические исследования</span>
                    <h2 data-aos="zoom-in-up" data-aos-duration="900">Изучите Последние Тематические Исследования</h2>
                  </div>
                </div>
              </div>

              <div class="space30"></div>
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="case4-box" data-aos="zoom-in-right" data-aos-duration="1000">
                    <div class="image">
                      <img src="{% static 'assets/img/image/case4-img1.png' %}" alt="">
                    </div>

                    <div class="headding-area">
                      {% if other_legal_informations %}
                      <!-- <h2>Другие лицензии и разрешения:</h2> -->
                      <ul>
                          {% for info in other_legal_informations %}
                              <li>
                                  <h4><a href="{% url 'case-study-details' id=info.id %}">{{ info.title|safe }}</a></h4>
                                  <a href="#" class="tags">#Закон и адвокаты</a>
                                  <a href="{% url 'case-study-details' id=info.id %}" class="button"><i class="fa-regular fa-arrow-right"></i></a>
                              </li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>

          <!--=====CASE END=======-->

                    <!--=====COUNTER AREA START=======-->

                    <div class="counter4">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg col-md-4 col-6 text-center">
                            <div class="counter4-box" data-aos="zoom-out" data-aos-duration="900">
                              <h2><span class="counter">{{ numbers.client }}</span> k+</h2>
                              <div class="space16"></div>
                              <p>Довольные клиенты</p>
                              <p></p>
                            </div>
                          </div>
          
                          <div class="col-lg col-md-4 col-6 text-center">
                            <div class="counter4-box" data-aos="zoom-out" data-aos-duration="1000">
                              <h2><span class="counter">{{ numbers.team }}</span> +</h2>
                              <div class="space16"></div>
                              <p>Опытные юристы и адвокаты</p>
                              <p></p>
                            </div>
                          </div>
          
                          <div class="col-lg col-md-4 col-6 text-center">
                            <div class="counter4-box" data-aos="zoom-out" data-aos-duration="700">
                              <h2><span class="counter">{{ numbers.experience }}</span> +</h2>
                              <div class="space16"></div>
                              <p>Многолетний опыт</p>
                              <p></p>
                            </div>
                          </div>
          
                          <div class="col-lg col-md-4 col-6 text-center">
                            <div class="counter4-box" data-aos="zoom-out" data-aos-duration="1100">
                              <h2><span class="counter">{{ numbers.critical }}</span> k+</h2>
                              <div class="space16"></div>
                              <p>Критические случаи успешно решены</p>
                              <p></p>
                            </div>
                          </div>
          
                          <div class="col-lg col-md-4 col-6 text-center">
                            <div class="counter4-box last" data-aos="zoom-out" data-aos-duration="800">
                              <h2><span class="counter">{{ numbers.review }}</span> k+</h2>
                              <div class="space16"></div>
                              <p>Положительных отзывов</p>
                              <p></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <!--=====COUNTER AREA END=======-->


                    <!--=====TESTIMONIAL START=======-->
                    {% if review %}
                    <div class="testimonial4 sp3">
                      <div class="container">
                        <div class="row align-items-center">
                          <div class="col-lg-6">
                            <div class="headding4">
                              <span class="span" data-aos="fade-right" data-aos-duration="700">Отзывы наших клиентов</span>
                              <h2 data-aos="fade-right" data-aos-duration="800">Нам Доверяют Наши Клиенты</h2>
                              <div class="space16"></div>
                              <p data-aos="fade-right" data-aos-duration="900">Мы предоставляем персонализированные и эффективные решения для широкого спектра юридических потребностей. Мы черпаем силы от наших лучших клиентов.</p>
                            </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="button" data-aos="fade-left" data-aos-duration="900">
                               <a href="{% url 'testimonial' %}" class="theme-btn7"><span class="span-btn">Читать больше отзывов</span> <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span></a>
                            </div>
                          </div>
                        </div>

                        <div class="space60"></div>
                        <div class="row align-items-center">
                          <div class="col-lg-5">
                            <div class="tes7-main-img img100 img5" data-aos="flip-left" data-aos-duration="800">
                              <img src="{% static 'assets/img/image/tes4-main-img.png' %}" alt="">
                            </div>
                          </div>

                          <div class="col-lg-7">
                            {% for review in review %}
                            <div class="tes4-slider owl-carousel" data-aos="fade-left" data-aos-duration="900">
                              <div class="single-slider">
                                <div class="icon">
                                  <img src="{% static 'assets/img/icons/tes4-icon.png' %}" alt="">
                                </div>
                                <p class="pera">{{review.message|safe }}</p>

                                <div class="bottom-headding">
                                  <div class="img">
                                    <img src="{% static 'assets/img/image/tes4-img.png' %}" alt="">
                                  </div>
                                  <div class="headding">
                                    <h5><a href="#">{{review.title}}</a></h5>
                                    <p>{{review.profession}}</p>
                                  </div>
                                </div>
                              </div>

                              {% endfor %}

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    <!--=====TESTIMONIAL END=======-->


                    <!--=====BLOG START=======-->

                    <div class="blog4 sp3">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-6 m-auto text-center">
                            <div class="headding4">
                              <span class="span" data-aos="zoom-in-up" data-aos-duration="700">Наш блог</span>
                              <h2 data-aos="zoom-in-up" data-aos-duration="900">Последние Новости И Статьи</h2>
                            </div>
                          </div>
                        </div>

                        <div class="space30"></div>
                        <div class="row">
                          {% for news in news %}
                          <div class="col-lg-6">
                            <div class="blog4-box" data-aos="zoom-in-up" data-aos-duration="900">
                              <div class="blog4-img">
                                <img src="{{ news.image.url }}" alt="">
                              </div>

                              <div class="headding-area">
                                <a href="#" class="date"><img src="{% static 'assets/img/icons/date.png' %}" alt=""> {{ news.data }}</a>
                                <h5><a href="{% url 'blog_details' id=news.id %}">{{ news.descriptions|safe|truncatewords:20 }} </a></h5>
                                <!-- <p>{{ news.descriptions2|safe }}</p> --> 
                                
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>

                        <div class="space40"></div>
                        <div class="row">
                          <div class="col-lg-12 text-center">
                            <div class="" data-aos="zoom-in-up" data-aos-duration="900">
                              <a href="{% url 'blog' %}" class="theme-btn7"><span class="span-btn">Читать больше новостей и статей</span> <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--=====BLOG END=======-->


                    <div class="footer-area4-all">
              <!--=====CTA START=======-->


      
                <!--=====CTA END=======-->
  
               <!--=====FOOTER START=======-->
               {% include  "include/footer.html" %}
              <!--=====FOOTER END=======-->
                    </div>

{% endblock %}