{% extends "include/homepage.html" %}
{% load static %}
{% block content %}
 
    <!--=====JQUERY=======-->
    <script src="{% static 'assets/js/jquery-3-6-0.min.js' %}"></script>
  </head>

  <body class="body4">
  <!--=====PROGRESS START=======-->


        <div class="overlay flex cac vac preloader-parent">
          <div>
              <div class="loader preloader flex vac">
                  <svg width="200" height="200" >
                      <circle class="background" cx="90" cy="90" r="80" transform="rotate(-90, 100, 90)"/>
                      <circle class="outer" cx="90" cy="90" r="80" transform="rotate(-90, 100, 90)"/>
                  </svg>
                  <span class="circle-background">
                    
                  </span>
                  <span class="logo animated fade-in">                
                       <img src="{{ settings.logo.url }}" alt="" style="height: 60px;width: 60px;object-fit: cover; border-radius: 50%;">            
                  </span>
              </div>
          </div>
      </div>



<!--=====PROGRESS END=======-->

<div class="paginacontainer"> 

  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
  </div>

</div> 


    <!--=====HEADER START=======-->
    {% include "include/header.html" %}
    <!--=====HEADER END=======-->


           <!--=====MOBILE HEADER START======-->

          <!--=====MOBILE HEADER END=======-->

          <!--===== HERO AREA START=======-->

          <div class="common-hero">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 m-auto text-center">
                        <div class="headding">
                            <h1>Отзывы</h1>
                            
                            <div class="list-area">
                                <a href="{% url 'index' %}">Главная страница</a>
                                <p class="icon"><i class="fa-regular fa-angle-right"></i></p>
                                <p class="page-text">Отзывы</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!--=====HERO AREA END=======-->


                <!--=====TESTIMONIAL START=======-->

                <div class="testimonial-page sp3">
                    <div class="container">
                        <!-- <div class="row">
                            {% for review in review %}
                            <div class="col-lg-4 col-md-6">
                                <div class="tes3-single-slider">
                                    <div class="icon">
                                      <img src="{% static 'assets/img/icons/tes3-iocn.svg' %}" alt="">
                                    </div>
                                    <ul class="stars">
                                      <li><i class="fa-solid fa-star"></i></li>
                                      <li><i class="fa-solid fa-star"></i></li>
                                      <li><i class="fa-solid fa-star"></i></li>
                                      <li><i class="fa-solid fa-star"></i></li>
                                      <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                    <div class="headding">
                                      <p>{{ review.message|safe }}</p>
                                    </div>
                
                
                                    <div class="headding-bottom-all">
                                      <div class="img">
                                        <img src="{{ review.image.url }}" alt="" style="height: 60px;width: 60px;object-fit: cover; border-radius: 50%;">
                                      </div>
                                      <div class="headding-bottom">
                                        <h4><a href="#">{{ review.title }}</a></h4>
                                        <p>{{ review.profession }}</p>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                            {% endfor %}
                          </div> -->
                          
                          <div class="row">
                                {% for review in reviews_page %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="tes3-single-slider">
                                        <div class="icon">
                                          <img src="{% static 'assets/img/icons/tes3-iocn.svg' %}" alt="">
                                        </div>
                                        <ul class="stars">
                                          <li><i class="fa-solid fa-star"></i></li>
                                          <li><i class="fa-solid fa-star"></i></li>
                                          <li><i class="fa-solid fa-star"></i></li>
                                          <li><i class="fa-solid fa-star"></i></li>
                                          <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                        <div class="headding">
                                          <p>{{ review.message|safe }}</p>
                                        </div>
                    
                    
                                        <div class="headding-bottom-all">
                                          <div class="img">
                                            <img src="{{ review.image.url }}" alt="" style="height: 60px;width: 60px;object-fit: cover; border-radius: 50%;">
                                          </div>
                                          <div class="headding-bottom">
                                            <h4><a href="#">{{ review.title }}</a></h4>
                                            <p>{{ review.profession }}</p>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                {% endfor %}
                            </div>
                          
                          <div class="space60"></div>
                        <div class="row">
                          <div class="col-12 m-auto">
                              <div class="theme-pagination text-center">
                                  <ul>
                                      {% if reviews_page.has_previous %}
                                          <li><a href="?page={{ reviews_page.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a></li>
                                      {% endif %}
                      
                                      {% for num in reviews_page.paginator.page_range %}
                                          <li>
                                              <a {% if num == reviews_page.number %}class="active"{% endif %} href="?page={{ num }}">{{ num }}</a>
                                          </li>
                                      {% endfor %}
                      
                                      {% if reviews_page.has_next %}
                                          <li><a href="?page={{ reviews_page.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a></li>
                                      {% endif %}
                                  </ul>
                              </div>
                          </div>
                      </div>
                      
                      

                           
                    </div>
                </div>

                <!--=====TESTIMONIAL AREA END=======-->
          
                    



                    <div class="footer-area4-all">
          <!--=====CTA START=======-->
  
            <!--=====CTA END=======-->
  
               <!--=====FOOTER START=======-->
               {% include "include/footer.html" %}
              <!--=====FOOTER END=======-->
                    </div>

{% endblock %}