{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=`device-width`, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!--=====TITLE=======-->
    <title>YurConsule </title>
    <!--=====FAV ICON=======-->
    <link rel="shortcut icon" href="{% static 'assets/img/logo/titel4.svg' %}"/>

 <!--=====CSS=======-->
 <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/slick-slider.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/mobile-menu.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/metisMenu.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/header.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/modal-video.min.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/visafast-unit.css' %}"/>
 <link rel="stylesheet" href="{% static 'assets/css/master.css' %}"/>
 <link rel="stylesheet" href="style.css"/>


 {% block content %}

 {% endblock %}

         <!--=====JS=======-->
         <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
         <script src="{% static 'assets/js/fontawesome.js' %}"></script>
         <script src="{% static 'assets/js/fontawesome.min.js' %}"></script>
         <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
         <script src="{% static 'assets/js/aos.js' %}"></script>
         <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
         <script src="{% static 'assets/js/slick-slider.js' %}"></script>
         <script src="{% static 'assets/js/mobile-menu.js' %}"></script>
         <script src="{% static 'assets/js/tilt.jquery.js' %}"></script>
         <script src="{% static 'assets/js/jquery.countup.js' %}"></script>
         <script src="{% static 'assets/js/metisMenu.min.js' %}"></script>
         <script src="{% static 'assets/js/jquery.nice-select.js' %}"></script>
         <script src="{% static 'assets/js/jquery.lineProgressbar.js' %}"></script>
         <script src="{% static 'assets/js/mobile-meanmenu.js' %}"></script>
         <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
         <script src="{% static 'assets/js/main.js' %}"></script>
   </body>
 </html>